.message-margin-top { margin-top: 12px; }

.no-record-found {
    text-align: center;
    font-weight: bold;
    background-color: #f4f4f4;
}

.checkbox label, .radio label {
    padding-left: 0;
    font-weight: bold;
}
.actions {
    width: 126px;
}

.has-error .select2-selection {
    border: 1px solid #a94442;
}
.has-success .select2-selection {
    border: 1px solid #00a65a;
}

.no-record-search-found{
	font-weight: normal;
}

.alert .close {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=0);
}